body {
    background-color: red;
}

.nav {
    background-color: rgb(79, 9, 9);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;

}

.nav a:hover {
    background-color: red;
    top: 5px;
    transition: 0.5s;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

.gallery {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.gallery img {
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    transition: 300ms;
}

.gallery img:hover {
    transform: scale(120%) rotate(10deg)
}